<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fixd.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fixd_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.fixd.app.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fixd.app.LoginScreen"
            android:label="@string/title_activity_login_screen" >
        </activity>
        <activity
            android:name="com.fixd.app.FixdActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.fixd.app.DeviceListService"
            android:label="@string/title_activity_device_list_service"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.fixd.app.TroubleInfo"
            android:label="@string/title_activity_trouble_info" >
        </activity>
        <activity
            android:name="com.fixd.app.MoreInfoActivity"
            android:label="@string/title_activity_more_info" >
        </activity>
    </application>

</manifest>
